body {
	background: rgb(1, 18, 49);
	color: white;
	font-size: 1.25rem;
	font-family: 'Arial', Arial, Helvetica, sans-serif;
}

p {
	font-size: 1rem;
}

b {
	color: rgb(255, 255, 169);
}

h1 {
	font-family: 'Arial', Arial, Helvetica, sans-serif;
	text-align: center;
	color: whitesmoke;
	font-size: 2.5rem;
	padding-bottom: 25px;
	padding-top: 25px;
	background-color: rgb(1, 18, 49);
}

button,
input {
	margin: 5px;
	border: 0;
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(224, 224, 224);
	font-weight: bold;
}

button:hover {
	background-color: purple;
	color:white;
}

label {
	text-align: right;
	margin-right: 10px;
}

#gallery {
	padding: 10px;
}

#meme-creation-form {
	text-align: center;
}

.container {
	margin: auto;
	width: 700px;
	max-width: 100%;
	align-items: center;
}

.creation-card {
	position: relative;
	width: 700px;
	max-width: 100%;
	height: auto;
	margin-bottom: 50px;
	animation-name: fade-in;
	animation-duration: 500ms;
	animation-timing-function: ease;
}

@keyframes fade-in {
	0%		{opacity: 0%;}
	100%	{opacity: 100%;}
}

.creation-card > img {
	width: 700px;
	max-width: 100%;
	max-height: auto;
	background-color: pink;
}

.delete-meme {
	text-align: center;
	font-size: 1rem;
}

.delete-meme:hover {
	font-weight:bold;
	color: rgb(194, 0, 0)
}

.top {
	align-items: center;
	text-align: center;
}

.button-row {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}

a {
	color: white;
}

.status-msg {
	font-size: 1rem;
	padding-left: 5px;
}

.grid-container {
	display: grid;
	grid-template-columns: 150px auto;
	max-width: auto;
	align-items: center;
	justify-content: center;
}

.form-center {
	align-items: center;
}

.grid-container > div {
	padding: 10px;
}

/* establish max meme font size that won't scale with viewport size past image width */
@media screen and (min-width: 750px) {
	.meme-text {
		font-size: 4rem;
	}
}
@media screen and (max-width: 749px) {
	.meme-text {
		font-size: 8vw;
	}
}

.meme-text {
	font-family: 'Impact';
	text-transform: uppercase;
	color: white;
	text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
	/* font-size: 8vw; */
}

.top-middle {
	position: absolute;
	top: 8px;
	text-align: center;
	width: 100%;
}

.bottom-middle {
	position: absolute;
	bottom: 30px;
	text-align: center;
	width: 100%;
}